.date{
  display:inline-block;
  position:relative;
  .date-picker{
    position:absolute;
    left:0;
    top:100%;
    width:150%;
    border:1px solid #dfe4ed;
    box-shadow:0 2px 12px rgba(0,0,0,0.1);
    background:#fff;
    z-index:5;
    padding:20px;
    box-sizing:border-box;
    font-size:0;
    transform:scaleY(0);
    transform-origin:top center;
    transition:0.3s;
    &.show{
      transform:scaleY(1);
    }
    .title i{
      font-size:14px;
      color:#2d2f33;
      vertical-align:middle;
      cursor: pointer;
    }
    .date-picker-header{
      margin-bottom:10px;
      .iconfont{
        font-size:14px;
        color:#999;
      }
    }
    .date-picker-table{
      width:100%;
      th,td{
        font-size:12px;
        color:#5a5e66;
        padding:5px;
        text-align:center;
        line-height:2;
      }
      th{
        border-bottom:1px solid #e6ebf5;
        font-weight:normal;
      }
      td{
        cursor:pointer;
        position:relative;
        &.other{
          color:#b4bccc;
        }
        &.current span{
          color:#fff;
          position:relative;
          z-index:3;
        }
        &.current:after{
          content:"";
          display:inline-block;
          width:20px;
          height:20px;
          background:#409EFF;
          border-radius:50%;
          position:absolute;
          left:50%;
          top:50%;
          transform:translate(-50%,-50%);
          z-index:2;
        }
      }
      &.large td{
        padding:20px 5px;
        &.active{
          color:#409EFF;
        }
      }
    }
  }
}