.ly-swiper{
  position: relative;
  overflow:hidden;
  .ly-swiper-list{
    font-size:0;
    white-space:nowrap;
    transition:0.3s ease-in-out;
    /deep/ .ly-swiper-item{
      display:inline-block;
      width: 100%;
      vertical-align:top;
      cursor:pointer;
      position: absolute;
      left:0;top:0;
      transition:0.3s ease-in-out;
    }
  }
  .ly-swiper-lr{
    position:absolute;
    left:10px;
    right:10px;
    top:50%;
    transform:translateY(-50%);
    box-sizing:border-box;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    &.hide{
      left: 0;
      right: 0;
      transition:0.3s;
      opacity:0;
      &.active,&.hide:hover{
        left: 10px;
        right: 10px;
        opacity: 1;
      }
    }
    .iconfont{
      display:inline-block;
      width:30px;
      height:30px;
      border-radius:50%;
      text-align:center;
      line-height:30px;
      background:rgba(255,255,255,0.8);
      font-size:18px;
      color:#333;
      cursor: pointer;
    }
  }
  .ly-swiper-pages{
    position: absolute;
    left:0;
    right:0;
    bottom:10px;
    text-align:center;
    font-size:0;
    li{
      display:inline-block;
      width:8px;
      height:8px;
      margin:0 5px;
      background:rgba(255,255,255,0.8);
      border-radius:50%;
      cursor:pointer;
      &.active{
        background:#333;
      }
    }
  }
}