.ly-row{
  width:100%;
  font-size:0;
  .ly-col{
    display:inline-block;
    vertical-align:middle;
    padding:10px;
    box-sizing:border-box;
  }
}

.content{
  background:#E5E9F2;
  font-size:14px;
  color:#333;  
  padding:10px;
  box-sizing:border-box;
}