.ly-upload{
  display:inline-block;
  position: relative;
  line-height: 1;
  overflow:hidden;
  vertical-align:middle;
  input{
    display:none;
  }
}
.ly-upload-list{
  list-style:none;
  padding:0;
  margin:0;
  li{
    display:flex;
    flex-direction:row;
    align-items: center;
    padding:10px;
    font-size:14px;
    color:#666;
    cursor: pointer;
    box-sizing:border-box;
    position: relative;
    .icon-type{
      font-size:20px;
      color:#999;
      margin-right:20px;
    }
    &.chosen{
      border-color:#9AD53F!important;
    }
    .tools{
      position: absolute;
      right:0;
      top:50%;
      transform:translateY(-50%);
      text-align:right;
      .iconfont{
        font-size:18px;
      }
      .icon-success{
        color:#9AD53F;
      }
      .icon-delete{
        color:#999;
        display:none;
      }
      &.corner{
        width:30px;
        height:30px;
        top:0;
        transform:none;
        .icon-success{
          color:#fff;
          position: relative;
          z-index:3;
        }
        &:before{
          content:"";
          display:inline-block;
          width:0;
          height:0;
          border-top:30px solid #9AD53F;
          border-left:30px solid transparent;
          position: absolute;
          left:0;
          top:0;
          transition:0.3s;
        }
      }
    }
    &:hover{
      .tools:before{
        display:none;
      }
      .tools .icon-success{
        display:none;
      }
      .tools .icon-delete{
        display:block;
      }
    }
  }
  &.picture li{
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius:6px;
    .icon{
      width:60px;
      height:60px;
      padding-right:30px;
    }
  }
  &.card{
    display:inline;
    font-size:0;
    vertical-align:middle;
    li{
      display:inline-block;
      vertical-align:middle;
      width:120px;
      height:120px;
      border:1px dashed #ccc;
      border-radius:4px;
      margin:10px;
      .icon{
        width:100%;
        height:100%;
      }
    }
  }
}
.ly-upload-card{
  width:120px;
  height:120px;
  border:1px dashed #ccc;
  border-radius:4px;
  margin:10px;
  text-align:center;
  display:flex;
  align-items:center;
  justify-content:center;
}


