.ly-progress{
  display:inline-block;
  width:400px;
  height:6px;
  background:#f5f5f5;
  border-radius:3px;
  position:relative;
  vertical-align:middle;
  font-size:0;
  .ly-progress-bar{
    display:inline-block;
    height:6px;
    border-radius:3px;
    background:#409EFF;
    vertical-align:middle;
    text-align:right;
    padding:0 10px;
    box-sizing:border-box;
  }
  &.inside{
    height:18px;
    border-radius:9px;
    .ly-progress-bar{
      height:18px;
      border-radius:9px;
      &:before{
        content:"";
        display:inline-block;
        width:0;
        height:100%;
        vertical-align:middle;
      }
      .ly-progress-label{
        font-size:12px;
        color:#fff;
      }
    }
  }
}
.ly-progress-label{
  font-size:14px;
  color:#333;
  vertical-align:middle;
}
.ly-progress-circle{
  position: relative;
  .ly-progress-label{
    position: absolute;
    top:50%;
    left:0;
    right:0;
    text-align:center;
    font-size:14px;
    color:#409EFF;
    line-height:1;
    margin-top:-7px;
  }
}