/* You can add global styles to this file, and also import other style files */
body{margin:0;font-family:'PingFang SC', tahoma, arial, 'helvetica neue', 'hiragino sans gb', 'microsoft yahei ui', 'microsoft yahei', simsun, sans-serif;}
a{text-decoration:none;cursor:pointer;}
html,body{height:100%;}
ul,li{list-style:none;padding:0;margin:0;}
button:focus,input:focus{outline:none;}
table{border-spacing:0;border-collapse:collapse;}
i,em{font-style:normal;}b{font-weight:normal;}
.row{display:table;}.col{display:table-cell;}.w{width:100%;}
.v-m{vertical-align:middle;}
.t-l{text-align:left;}.t-c{text-align:center;}.t-r{text-align:right;}
.mr-10{margin-right:10px;}

.app{padding-top:60px;padding-left:270px;box-sizing:border-box;height:100%;}

.nav{background:linear-gradient(90deg,#337EFF,#1EA3FF);height:60px;width:100%;display:flex;flex-direction:row;align-items:center;z-index:3;position:fixed;top:0;left:0;}
.nav-item{display:inline-block;font-size:16px;color:#fff;height:60px;line-height:60px;margin:0 20px;position:relative;padding:0 20px;}
.nav-item.active:before{content:"";display:inline-block;width:100%;height:4px;background:rgba(255,255,255,0.5);position:absolute;left:0;bottom:0;}
.nav-item:hover{text-decoration:none;color:#C8DBFF;}

.aside{background:#F9FAFB;width:270px;position:fixed;left:0;top:60px;bottom:0;padding:10px 0;}
.aside-item{display:block;padding:10px 20px;font-size:14px;color:#4C555A;text-transform:capitalize;position:relative;}
.aside-item:before{content:"";display:inline-block;width:2px;height:30px;position:absolute;right:2px;top:50%;margin-top:-15px;background:#4a8bfc;transform:scaleY(0);transition:0.3s ease-in-out;transform-origin:center center;}
.aside-item.active{color:#4a8bfc;}
.aside-item.active:before{content:"";display:inline-block;width:2px;height:30px;position:absolute;right:2px;top:50%;margin-top:-15px;background:#4a8bfc;transform:scaleY(1);}

.main{width:100%;height:100%;padding:10px 20px;box-sizing:border-box;}
.main h2{font-size:20px;color:#333;font-weight:normal;margin:0;padding-top:20px;}
.main h3{font-size:16px;color:#666;font-weight:normal;margin:20px 0 0 0;padding:10px 15px;position:relative;}
.main h3:before{content:"";display:inline-block;width:3px;height:16px;background:#4a8bfc;position:absolute;left:0;top:50%;margin-top:-8px;}
.main p{font-size:14px;color:#999;margin:10px 0;}
.main p.tips{padding:10px 20px;border:1px solid #ddd;background:#f9f9f9;}
.main p.tips i{display:inline-block;padding:3px 10px;background:#ededed;font-style:normal;color:#666;margin:0 5px;border-radius:4px;}