.list{
  font-size:0;
  li{
    display:inline-block;
    width:25%;
    vertical-align:top;
    margin:10px 0;
    .img{
      display:block;
      height:160px;
    }
    .tit{
      font-size:14px;
      color:#333;
      margin:10px 0;
    }
  }
}
.table{
  th,td{
    font-size:14px;
    vertical-align:top;
    text-align:left;
    padding:10px;
    box-sizing:border-box;
  }
  th{
    color:#666;
    white-space:nowrap;
    font-weight:normal;
  }
  td{
    color:#333;
  }
}
.pop{
  /deep/ .ly-dialog-body{
    height:400px;
    overflow:auto;
  }
}